* {
    padding: 0;
    margin: 0;
    /* background-color: #737171; */


}

body {
    background-image: url("./../images/background/sky-night.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.canvas {
    text-align: center;
    margin: 20px 0;
    z-index: 999;
}

.start {
    text-align: center;
    margin: 20px 0;
}

button:focus {
    outline: none;
}

#logo {
    position: absolute;
    align-content: center;
    left: 260px;
    top: 50px;
    z-index: -100;
}

#start-button {
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 20px;
    position: absolute;
    left: 530px;
    bottom: 120px;
    padding: 10px 73px;
    margin: 10px auto;
    color: white;
    background-color: rgb(0, 172, 100);
    box-shadow: 5px 5px 8px #3d3d3d;
    z-index: -100;
}

#audio-button {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    position: absolute;
    left: 510px;
    bottom: 20px;
    padding: 11px 20px;
    margin: 10px auto;
    color: white;
    background-color: goldenrod;
    box-shadow: 5px 5px 8px #3d3d3d;
}

#reset-button {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    position: absolute;
    left: 670px;
    bottom: 20px;
    padding: 11px 20px;
    margin: 10px auto;
    color: white;
    background-color: tomato;
    box-shadow: 5px 5px 8px #3d3d3d;
}

#restart-button {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    border-color: black;
    position: absolute;
    right: 50px;
    bottom: 20px;
    padding: 11px 20px;
    margin: 10px auto;
    color: black;
    background-color: #fdd100;
    box-shadow: 5px 5px 8px #3d3d3d;
}

#game-logo {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}